<div class="collapsible-panel {{if panelAlignment panelAlignment "right"}} {{customPanelClasses}}" style="{{style}}">
  <div class="collapsible-panel-controls">
    <button class="btn button-collapse-panel" {{action "collapsePanel"}}><i class="glyphicon glyphicon-menu-right"></i></button>
    <button class="btn button-expand-panel" {{action "expandPanel"}}><i class="glyphicon glyphicon-menu-left"></i></button>
  </div>
  <div class="collapsible-panel-content">
    {{yield}}
  </div>
</div>
