{{yield this}}

<div class="collapsible-layout-control-panel">
  {{#if topCollapsed}}
    <button class="btn" {{action "expandPanel" "top"}}>Top</button>
  {{else}}
    <button class="btn" {{action "collapsePanel" "top"}}>Top</button>
  {{/if}}
  
  {{#if rightCollapsed}}
    <button class="btn" {{action "expandPanel" "right"}}>Right</button>
  {{else}}
    <button class="btn" {{action "collapsePanel" "right"}}>Right</button>
  {{/if}}
  
  {{#if bottomCollapsed}}
    <button class="btn" {{action "expandPanel" "bottom"}}>Bottom</button>
  {{else}}
    <button class="btn" {{action "collapsePanel" "bottom"}}>Bottom</button>
  {{/if}}
  
  {{#if leftCollapsed}}
    <button class="btn" {{action "expandPanel" "left"}}>Left</button>
  {{else}}
    <button class="btn" {{action "collapsePanel" "left"}}>Left</button>
  {{/if}}
</div>
